name: build

on:
  push:
    branches:
      - master
    tags:
      - '*.*.*'
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false # run all tests anyway
      matrix:
        include:
          - toxenv: pytest30
            python: 2.7
          - toxenv: py27-pytest36-supported-xdist
            python: 2.7
          - toxenv: py27-pytest37-unsupported-xdist
            python: 2.7

          # fixme: not supported by actions/setup-python
          # - toxenv: py34-pytest38-supported-xdist
          #   python: 3.4

          - toxenv: py35-pytest39-supported-xdist
            python: 3.5
          - toxenv: py36-pytest40-supported-xdist-pinned-attrs
            python: 3.6

          - toxenv: py37-pytest41-supported-xdist-pinned-attrs
            python: 3.7
          - toxenv: py37-pytest42-supported-xdist-pinned-attrs
            python: 3.7
          # fixme: hungs build or fails
          # - toxenv: py37-pytest42-unsupported-xdist-rerunfailures-pinned-attrs
          #   python: 3.7
          - toxenv: py37-pytest46-supported-xdist
            python: 3.7

          - toxenv: py37-pytest54-supported-xdist
            python: 3.7
          - toxenv: py38-pytest54-supported-xdist
            python: 3.8

          # Latest pytest.
          - toxenv: py37-pytest60-supported-xdist
            python: 3.7
          - toxenv: py38-pytest60-supported-xdist
            python: 3.8

          - toxenv: qa
            python: 3.8
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
          cache-dependency-path: |
            setup.py
            tox.ini

      - name: Install requirements
        run: |
          pip install -U tox

      - name: Test
        env:
          TOXENV: ${{ matrix.toxenv }}
        run: tox
